<div id='container'>
  <div id="group1">
    <div class="background">

    </div> <!-- background -->
    <div class="foreground">

      <%= render "layouts/footer" %>
    </div> <!-- foreground -->
  </div> <!-- id #parallax group 1 -->
</div> <!-- id #container -->
