<div class="container">
  <div class="text-center row" style="margin: 80px 0 20px 0">
    <h1 style="font-size: 10vh">Checkout</h1>
    <div class="row">
      <div class="col-xs-3 col-sm-2 col-sm-push-2 text-center">
        <h1 style="font-size: 75px; color: grey">1</h1>
        <h4 style="color: grey">Address</h4>
      </div> <!-- col -->
      <div class="col-xs-3 col-sm-2 col-sm-push-2 text-center">
        <h1 style="font-size: 75px; color: grey">2</h1>
        <h4 style="color: grey">Shipping</h4>
      </div> <!-- col -->
      <div class="col-xs-3 col-sm-2 col-sm-push-2 text-center">
        <h1 style="font-size: 75px; color: grey">3</h1>
        <h4 style="color: grey">Billing</h4>
      </div> <!-- col -->
      <div class="col-xs-3 col-sm-2 col-sm-push-2 text-center">
        <h1 style="font-size: 75px; color: red">4</h1>
        <h4><strong>Confirmation</strong></h4>
      </div> <!-- col -->

      <div class="row">
        <hr class="col-xs-6 col-xs-push-3" />
      </div>

      <h2>Thanks, you paid <%= number_to_currency(@order.total, precision: 2) %>!</h2>
      <h2>Don't bother printing this.  We'll email you.</h2>

    </div> <!-- row -->
  </div> <!-- row -->

</div> <!-- container -->

<%= render "layouts/footer" %>
